/* Antes de todo debe ir un reset,
para que la página no tenga ningún estilo por defecto
*/

* {
  margin: 0;
  padding: 0;
  /* #Del tercero no me acuerdo por ahora. */
}

#enc-1 {
  color: blueviolet;
}

#parrafo {
  color: brown;
}

#contenido {
  color: green;
}

#enc-1,
#parrafo,
#contenido,
#enc-form {
  text-align: center;
  align-items: center;
}

#list-des {
  background-color: steelblue;
}

#list-ord {
  background-color: cornflowerblue;
}

#frutas {
  background-color: thistle;
}

#list-des,
#list-ord,
#formulario,
#frutas {
  border: 2px solid black;
  margin: 10px;
  padding: 10px;
}

#comp-list-des-enc,
#comp-list-ord-enc,
#frutas-enc {
  color: #a5453b;
  text-align: center;
}

#comp-list-des,
#comp-list-ord,
#fruta {
  list-style-position: inside;
  /* list-style-type: ;Esto cambia u oculta los items de los marcadores */
  margin-left: 60vh;
}

#formulario {
  background-color: darkorchid;
  color: antiquewhite;
}

#form-inside {
  margin-left: 30vh;
}
